@import "tailwindcss";
@import 'primeicons/primeicons.css';

@theme {
	--font-sans: "Roboto", sans-serif;
	--color-black: #202020;
	--my-color-gray: #687377;
}

html {
	font-size: 14px;
	line-height: normal;
}
